{% extends "base-default.html" %}
{% load static %}

{% block logo_browser %}<link rel="shortcut icon" type="image/png" href="{% static 'img/IRMA_System_logo.png' %}" /> {% endblock %}

{% block over_navbar %}
  <a href="http://www.irrigation-management.eu/" target="_blank"><img src="{% static 'img/header_logo.png' %}"  height="50" width="800" class="img-responsive" alt="Irrigation Management Eu"></a><br>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="max-width:100px; margin-top: -13px;" class="navbar-brand" href="{% url 'welcome' %}" ><img src="{% static 'img/IRMA_System_logo.png' %}" width="40" height="45"></a> <a style="float:left" href="{% url 'welcome' %}"><img src="{% static 'img/NextToLogo.png' %}"></a>
    </div>
    {% if user.is_authenticated %}
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'home' %}"  rel="nofollow"><i class="glyphicon glyphicon-home"></i> Home</a> </li>
        <li><a href="{% url 'django.contrib.auth.views.logout' %}"> <i class="glyphicon glyphicon-log-out"></i> Logout </a></li>
      </ul>
    </div>
    {% else %}
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'django.contrib.auth.views.login' %}" rel="nofollow"><i class="glyphicon glyphicon-off"></i> Login</a></li>
        <li><a href="{% url 'registration_register' %}" rel="nofollow"><i class="glyphicon glyphicon-user"></i> Register</a></li>
        <li><a href="{% url 'password_reset' %}" rel="nofollow"><i class="glyphicon glyphicon-lock"></i> Lost password?</a></li>
        <li><a href="{% url 'description' %}" rel="nofollow"><i class="glyphicon glyphicon-book"></i> Description</a></li>
        <li><a href="{% url 'try' %}" rel="nofollow"><i class="glyphicon glyphicon-hand-right"></i> Try</a></li>
      </ul>
    </div>
    {% endif %}
    </div> <!--container - fluid -->
  </div> <!-- navbar -->
{% endblock %}

{% block content %}
    {% block upper_main %}

    {% endblock %}

    {% block main_page %}

    {% endblock %}
{% endblock %}


{% block footer %}
  <div class="container">
    <hr>
      <table style="border-width: 0px; border-style: none; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; width: 100%;" border="0">
        <tbody>
        <tr>
          <td style="text-align: center; vertical-align: top; border-width: 0px; border-style: none; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; width: 30%;"><a href="http://www.greece-italy.eu" target="_blank"><img style="border: 0px solid #000000;" src="http://www.irrigation-management.eu/images/site-images/static/interreg.jpg" alt="interreg" width="279" height="83" /></a></td>
          <td style="text-align: center; vertical-align: middle; border-width: 0px; border-style: none; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; width: 40%;"></td>
          <td style="text-align: center; vertical-align: middle; border-width: 0px; border-style: none; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; width: 30%;"><span style="font-size: 12pt;"></span>
          <div class="lead"><span  style="font-size: 16pt;" class="text-success">Follow us</span></div>
          <a href="http://www.irrigation-management.eu/component/contact/contact/4-uncategorised/1-irma-info"><i class="fa fa-envelope fa-1x"></i></a> | <a href="https://twitter.com/IRMA_project1" target="_blank"><i class="fa fa-twitter fa-1x"></i></a> | <a href="https://www.facebook.com/irrigationmanagement" target="_blank"><i class="fa fa-facebook fa-1x"></i></a> | <a href="http://www.linkedin.com/groups?homeNewMember=&amp;gid=6566174&amp;trk=eml-grp-sub&amp;fromEmail=&amp;ut=2MQz6USt2_i601" target="_blank"><i class="fa fa-linkedin fa-1x"></i></a> | <a href="https://plus.google.com/+IRMAETCPproject/about" target="_blank"><i class="fa fa-google-plus fa-1x"></i></a> | <a href="http://www.youtube.com/channel/UCKIADrOv0PrOGSZtts6fpkg" target="_blank"><i class="fa fa-youtube fa-1x"></i></a></td>
        </tr>
        </tbody>
      </table>
          <hr>
          <div class="row">
            <div class="col-md-3">
              <p  class="text-success">Copyright &#169; 2013 - 2015 <a href="http://tegeo.teiep.gr/en/" target = "_blank">teiep.gr </a>  </p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
            <a style="float:left;padding-right: 20px;" href="{% url 'terms' %}"><p>Terms of Use</p></a>
            <a href="{% url 'disclaimer' %}"><p>Disclaimer</p></a>
            </div>
          </div>
  </div>
{% endblock %}


