{% extends "base-default.html" %}
{% load static %}
{% load i18n %}


{% block logo_browser %}
<link rel="shortcut icon" type="image/png" href="{% static 'img/IRMA_System_logo.png' %}" />

{% endblock %}

{% block over_navbar %}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand" style="min-height: 60px;width: 27em; font-size: 10pt; padding: 10px 10px"><p><a href="/" style="color: #FFFFFF">{% trans "PARTICIPATORY SYSTEM FOR IRRIGATION RECOMMENDATIONS (PLAIN OF ARTA)" %}</a></p></div>
    </div>
    {% if user.is_authenticated %}
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'home' user.username %}"><b>{% trans "Welcome" %}:</b> {{ user.username }}</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-cog"></i> {% trans "Management" %} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'home' user.username %}"  rel="nofollow"><i class="glyphicon glyphicon-leaf"></i> {% trans "My Fields" %}</a> </li>
            {% get_current_language as LANGUAGE_CODE %}
            <li><a href="https://www.irrigation-management.eu/operational-stuff/deliverables-ir2ma-pb1/10-static-articles/12-helpdesk"  target="_blank" rel="nofollow"><i class="glyphicon glyphicon-book"></i> {% trans "Support" %}</a></li>
            {% if user.profile.id %}
                <li><a href="{% url 'update_profile' user.profile.id  %}"><i class="glyphicon glyphicon-user"></i> {% trans "Account" %}</a></li>
            {% else %}
                <li><a href="{% url 'create_profile' %}"><i class="glyphicon glyphicon-user"></i> {% trans "Account" %}</a></li>
            {% endif %}
            <li><a href="{% url 'tools' %}"><i class="glyphicon glyphicon-wrench"></i> {% trans "Tools" %}</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'django.contrib.auth.views.logout' %}"> <i class="glyphicon glyphicon-log-out"></i> {% trans "Logout" %} </a></li>
          </ul>
        </li>
      </ul>
    </div>
    {% else %}
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'django.contrib.auth.views.login' %}" rel="nofollow"><i class="glyphicon glyphicon-off"></i> {% trans "Login" %}</a></li>
        <li><a href="{% url 'registration_register' %}" rel="nofollow"><i class="glyphicon glyphicon-user"></i> {% trans "Register" %}</a></li>
        <li><a href="{% url 'password_reset' %}" rel="nofollow"><i class="glyphicon glyphicon-lock"></i> {% trans "Lost password?" %}</a></li>
        <li><a href="https://www.irrigation-management.eu/operational-stuff/deliverables-ir2ma-pb1/10-static-articles/12-helpdesk"  target="_blank" rel="nofollow"><i class="glyphicon glyphicon-book"></i> {% trans "Support" %}</a></li>
            <li><a href="{% url 'try' %}" rel="nofollow"><i class="glyphicon glyphicon-hand-right"></i> {% trans "Try" %}</a></li>
      </ul>
    </div>
    {% endif %}
    </div> <!--container - fluid -->
  </div> <!-- navbar -->
  <form align="left" class="form-inline" action="{% url 'set_language' %}" method="post">
  {% csrf_token %}
  <input name="next" type="hidden" value="{{ redirect_to }}" />
  <select style="color:black" name="language">
  {% get_available_languages as LANGUAGES %}
  {% get_language_info_list for LANGUAGES as languages %}
  {% for language in languages %}
  <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
      {{ language.name_local }} ({{ language.code }})
  </option>
  {% endfor %}
  </select>
    <button type="submit" class="btn btn-primary btn-xs"> {% trans "Go" %} </button>
  </form>
  <br>
{% endblock %}

{% block content %}
    {% block upper_main %}

    {% endblock %}

    {% block main_page %}

    {% endblock %}
{% endblock %}


{% block footer %}
  <div class="container text-center">
    <hr>
    <div class="row">
        <div class="col-xs-4">
          <a href="http://www.greece-italy.eu" target="_blank"><img class="img-responsive" src="https://www.irrigation-management.eu/images/IR2MA/logos/Interreg_GR_IT.png" alt="interreg" width="300" height="87"/></a>
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
          <a href="http://www.irrigation-management.eu/" target="_blank">IR2MA
              - Large Scale Irrigation Management Tools for Sustainable Water
              Management in Rural Areas and Protection of Receiving Aquatic
          Ecosystems</a>
        </div>
    </div>
    <hr>
    <div class="container text-center">
        <p><a href="{% url 'terms' %}">{% trans "Terms of Use" %}</a></p>
    </div>
  </div>
{% endblock %}
