body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

/* OpenLayers Map Display */
.map {
    width: 100%;
    height: 300px;
    position:relative;
}

/* Bold horizontal line */
.bhr {
  height:1px;
  border:none;
  color:#333;
  background-color:#333;"
}
