{% extends 'aira/frontpage/main-default.html' %}
{% load static %}
{% load i18n %}


{% block title %}IR2MA{% endblock %}


{% block map_footer %}
  <div class="row">
    <div class="col-xs-4 text-left">
      <a class="btn btn-success btn-xs" target="_blank" href="http://addvantage.interregir2ma.eu:8080/livedata/mapOrList.jsf"> {% trans "Agrometeorological stations network" %}</a>
    </div>
    <div class="col-xs-4 text-center">
      <a class="btn btn-success btn-xs" target="_blank" href="http://system.irrigation-management.eu/"> {% trans "Data" %}</a>
    </div>
    <div class="col-xs-4 text-right">
      <a class="btn btn-success btn-xs" target="_blank" href="http://ofidia.physics.uoi.gr/"> {% trans "Weather Forecast (ofidia.physics.uoi.gr)" %}</a>
    </div>
  </div>
{% endblock %}
