{% extends "aira/base/main-default.html" %}
{% load static %}
{% load i18n %}

{% block favicon %}
  <link rel="shortcut icon" type="image/png" href="{% static 'img/ir2ma-favicon.png' %}" />
{% endblock %}


{% block extratitle %} — IR2MA{% endblock %}

{% block footer %}
  <div class="container text-center">
    <hr>
    <div class="row">
        <div class="col-xs-4">
          <a href="http://www.greece-italy.eu" target="_blank"><img class="img-responsive" src="https://www.interregir2ma.eu/images/IR2MA/logos/logoIR2MA.png" alt="interreg" width="300" height="87"/></a>
        </div>
        <div class="col-xs-4">
          <a href="http://www.interregir2ma.eu/" target="_blank">IR2MA
              - Large Scale Irrigation Management Tools for Sustainable Water
              Management in Rural Areas and Protection of Receiving Aquatic
          Ecosystems</a>
        </div>
        <div class="col-xs-4">
          {% trans "Project co-funded by the European Union, the European Regional Development Fund (E.R.D.F.) and by National Funds of Greece and Italy" %}
        </div>
    </div>
    <hr>
    <div class="container text-center">
        {% get_current_language as LANGUAGE_CODE %}
        <p>
        {% include "aira/base/language_switcher.html" %}
        |
        <a href="{% url 'terms' %}">{% trans "Terms of use" %}</a>
        |
        {% if LANGUAGE_CODE == 'el' %}
          <a href="http://www.irrigation-management.eu/images/Documents/IRMA_DSS_Arta_GR.pdf">Πληροφορίες έκδοσης 2015 (IRMA)</a>
        {% else %}
          <a href="http://www.irrigation-management.eu/images/Documents/IRMA_DSS_Arta_ENG.pdf">Info about version 2015 (IRMA)</a>
        {% endif %}
        </p>
    </div>
  </div>
{% endblock %}
