{% extends "aira/base/navbar-default.html" %}
{% load i18n %}


{% block support_link %}
  <li><a href="https://www.interregir2ma.eu/operational-stuff/deliverables-ir2ma-pb1/10-static-articles/12-helpdesk"  target="_blank" rel="nofollow">{% trans "Support" %}</a></li>
{% endblock %}


{% block navbar_brand %}
  <a href="/" style="display: block; min-height: 60px; width: 27em; font-size: 10pt; padding: 10px 0 10px 0; color: black">{% trans "PARTICIPATORY SYSTEM FOR IRRIGATION RECOMMENDATIONS (PLAIN OF ARTA)" %}</a>
{% endblock %}
