{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}

{% block title %} IRMA System - {% trans "Welcome " %} {% endblock %}

{% block extracss %}
  <link href="{% static 'css/lightbox.css' %}" rel="stylesheet" />
{% endblock %}

{% block upper_main %}
<br><br>
    <a href="{% static 'img/albedo_maps/20130428.jpg' %}" data-lightbox="roadtrip">
        <img src="{% static 'img/albedo_maps/20130428.jpg' %}" width="100" height="100" alt="" />
    </a>
    <a href="{% static 'img/albedo_maps/20130514.jpg' %}" data-lightbox="roadtrip">
        <img src="{% static 'img/albedo_maps/20130514.jpg' %}" width="100" height="100" alt="" />
    </a>
    <a href="{% static 'img/albedo_maps/20130615.jpg' %}" data-lightbox="roadtrip">
        <img src="{% static 'img/albedo_maps/20130615.jpg' %}" width="100" height="100" alt="" />
    </a>
    <a href="{% static 'img/albedo_maps/20130818.jpg' %}" data-lightbox="roadtrip">
        <img src="{% static 'img/albedo_maps/20130818.jpg' %}" width="100" height="100" alt="" />
    </a>
    <a href="{% static 'img/albedo_maps/20130919.jpg' %}" data-lightbox="roadtrip">
        <img src="{% static 'img/albedo_maps/20130919.jpg' %}" width="100" height="100" alt="" />
    </a>
    <a href="{% static 'img/albedo_maps/20131021.jpg' %}" data-lightbox="roadtrip">
        <img src="{% static 'img/albedo_maps/20131021.jpg' %}" width="100" height="100" alt="" />
    </a>
    <a href="{% static 'img/albedo_maps/20131208.jpg' %}" data-lightbox="roadtrip">
        <img src="{% static 'img/albedo_maps/20131208.jpg' %}" width="100" height="100" alt="" />
    </a>
    <a href="{% static 'img/albedo_maps/20140109.jpg' %}" data-lightbox="roadtrip">
        <img src="{% static 'img/albedo_maps/20140109.jpg' %}" width="100" height="100" alt="" />
    </a>
    <a href="{% static 'img/albedo_maps/20140314.jpg' %}" data-lightbox="roadtrip">
        <img src="{% static 'img/albedo_maps/20140314.jpg' %}" width="100" height="100" alt="" />
    </a>
    <a href="{% static 'img/albedo_maps/20140720.jpg' %}" data-lightbox="roadtrip">
        <img src="{% static 'img/albedo_maps/20140720.jpg' %}" width="100" height="100" alt="" />
    </a>
<br><br>
<br><br><br>

{% endblock %}

{% block extrajs %}
  <script src="{% static 'js/lightbox.min.js' %}"></script>
{% endblock %}
