{% extends 'aira/index-default.html' %}
{% load static %}
{% load i18n %}

{% block title %} IRMA System {% endblock %}

{% block upper_main %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{% static 'img/image2.jpg' %}">
    </div>

    <div class="item">
      <img src="{% static 'img/image3.jpg' %}">
    </div>

    <div class="item">
      <img src="{% static 'img/image1.jpg' %}">
    </div>

    <div class="item">
      <img src="{% static 'img/image4.jpg' %}">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">{% trans "Previous" %}</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">{% trans "Next" %}</span>
  </a>
</div>

{% endblock %}

{% block extramap %}
  <div class="row">
          <div class="col-xs-4 text-left">
            <a style="float: left;" class="btn btn-success btn-xs" target="_blank" href="http://system.irrigation-management.eu/"> {% trans "View Meteorogical Network Stations" %}</a> <br>
          </div>
          <div class="col-xs-4 text-center">
          </div>
          <div class="col-xs-4 text-right">
            <a style="float: right;" class="btn btn-success btn-xs" target="_blank" href="http://ofidia.physics.uoi.gr/"> {% trans "Weather Forecast (ofidia.physics.uoi.gr)" %}</a>
          </div>
        </div>
{% endblock %}
